<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725487244356-2h78qedstke7vi88emkkli05ueomnuim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725487244356-2h78qedstke7vi88emkkli05ueomnuim</string>
	<key>API_KEY</key>
	<string>AIzaSyCKpvin5a0DY-I0A_4RSQ4CYqrp-yFAvD8</string>
	<key>GCM_SENDER_ID</key>
	<string>725487244356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.e2esp.FCMagazineSample</string>
	<key>PROJECT_ID</key>
	<string>fc-magazine</string>
	<key>STORAGE_BUCKET</key>
	<string>fc-magazine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:725487244356:ios:d65b86e74bcbdb4b</string>
	<key>DATABASE_URL</key>
	<string>https://fc-magazine.firebaseio.com</string>
</dict>
</plist>